---
---
<aside class="side-panel" id="side-panel">
    <div class="panel-card">
        <h4>By Category</h4>
        <div class="cat-row" id="cat-bars"></div>
    </div>
    <div class="panel-card">
        <h4>Top Locations</h4>
        <div class="location-list" id="location-list"></div>
    </div>
</aside>
